--find-links https://github.com/cansik/pyrealsense2-macosx/releases

absl-py
asttokens
attrs
blinker
certifi
cffi
charset-normalizer  
click
colorama
comm
ConfigArgParse      
contourpy
cycler
dash
dash-core-components
dash-html-components
dash-table
decorator
executing
fastjsonschema
Flask
flatbuffers
fonttools
idna
importlib_metadata
ipython
ipywidgets
itsdangerous
jax
jaxlib
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_core
jupyterlab_widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mediapipe
ml_dtypes
nbformat
nest-asyncio
numpy
open3d
opencv-contrib-python
opencv-python
opt-einsum
packaging
parso
pillow
platformdirs
plotly
prompt_toolkit
protobuf
pure_eval
pycparser
Pygments
PyOpenGL
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
pyqtgraph
pyrealsense2
python-dateutil
python-osc
pywin32
referencing
requests
retrying
rpds-py
scipy
six
sounddevice
stack-data
tenacity
traitlets
typing_extensions
urllib3
wcwidth
Werkzeug
widgetsnbextension
zipp
